/*Standardized elements*/
html
{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
body
{
    display: flex;
    flex: 1;
    font-size: calc(1rem + 1vw);
    flex-direction: column;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul
{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul
{
    list-style: none;
}

img
{
    height: auto;
}


/* Styling */
.page-header
{
    background-color: aqua;
    padding: 1em .5em .25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header .logo
{
    width: 250px;
}
.page-header .account
{
    align-self: flex-start;
}

main
{
    background-color: burlywood;
    display: flex;
    flex: 1;
}
.content
{
    flex: 1;
    padding: 1%;

}
aside
{
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: .20;
}
aside .control-button-upload
{
    width: 20%;
    height: 10%;
}
aside .control-button-add
{
    width: 20%;
    height: 10%;
}
.printer-card
{
    width: 45%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: blueviolet;
}

.printer-card .card-image
{
    width: 45%;
    height:  45%;
    align-self: flex-start;
    padding-right: 10px;
}

.printer-card .card-printing-status
{
    width: 35%;
    height: 35%;
    font-size: calc(1rem + .5vw);
}

.printer-card .card-temperature
{
    align-self: flex-end;
}