/*Standardized elements*/
html
{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
body
{
    display: flex;
    flex: 1;
    font-size: calc(1rem + 1vw);
    flex-direction: column;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul
{
    color: #9b8989;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul
{
    list-style: none;
}

img
{
    height: auto;
}

button
{
    color: #9b8989;
    height: calc(1.5rem + 1vw);
    width: calc(4.5rem + 1vw);
    background-color: var(--purple);
    box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, .3);
    border: none;
    border-radius:  12px;    
}
/* button>svg
{
    display: flex;
} */

/* Styling */
:root
{
    --green: #2d471b;
    --purple: #351b47;
    --maroon: #471b2d;
    --brown: #473e1b;
}
.page-header
{
    background-color: #140536;
    padding: .25em .5em .25em;
    box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title
{
    padding-left: 5%;
}
.page-header .logo
{
    width: 150px;
}
.page-header .controls
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 26px;
    justify-content: left;
}
.button.account
{
    grid-column: 2;
}
.button.add
{
    grid-column: 2;
    grid-row: 2;
    background-color: var(--green);
}
.button.upload
{
    grid-column: 1;
    grid-row: 2;
    background-color: var(--maroon);
}
/* .button > svg
{
    height: calc(1.5rem + 1vw);
    width: calc(5rem + 1vw);
} */
/* button > img
,button > svg
{
    --size: 40px;
    --fill-color: var(--someVar);
    width:var(--size);
    height: var(--size);
}

:root
{
    --someVar: blue;
}

button > svg path
{
    fill: var(--fill-color);
} */

main
{
    display: flex;
    flex: 1;
}
.content
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    padding: 3%;
    background-image: repeating-linear-gradient(45deg, rgba(58,77,12, 0.24) 0px, rgba(58,77,12, 0.24) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(58,77,12, 0.24) 0px, rgba(58,77,12, 0.24) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(33,13,79),rgb(77,12,58));
}

.card.printer
{
    flex-basis: 300px;
    flex-grow: .3;
    background-color: rgba(0, 0, 0, 0.33);
    border: solid 1px rgba(0, 0, 0, .75);
    border-radius: 24px;
    box-shadow: 0px 0px 20px 1px green;        
}
.preview
{
    display: flex;
}
 .description
 {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 2fr;
     grid-template-rows: 34px 16px 16px;
     grid-gap: 10px;
     padding: 10px;
     flex: 1;
 }
.overview
{
    grid-column: 1 / 5;
}
.icon
{
    flex: .45;
}
.name
{
    align-self: center;
    font-size: calc(1rem + .85vw);
    padding-right: 5%;
}
.temperatures
{
    display: inline-flex;
    align-self: center; 
    align-items: center;
    font-size: calc(.75rem + .35vw);

}
.temperatures .temperature
{
    padding-right: 5px;
}
.temperatures>input
{
    width: calc(3rem + .35vw);
}
.current-file
{
    display: inline-flex;
    grid-column: 1/5;
    grid-row: 2;
    align-items: center;
    font-size: calc(.75rem + .35vw);
}

.button.stop
{
    background-color: rgb(114, 4, 4);
    grid-column: 5;
    grid-row: 1/4;
    height: 100%;
}
.progress
{
    display: flex;
    grid-row: 3;
    grid-column: 1/5;
}
.bar
{
    flex: 1;
}
.operations
{
    display: inline-flex;
    justify-content: space-between;
    padding: 1%;
    width: 100%
}
.operations>button
{
    margin: 5px;
}

.container.expanded
{
    display: flex;
}
.file-view
{
    display: flex;
    flex: .9;
}
.operations.files
{
    flex-direction: column;
    flex: .1;
    padding: 5px;
}
