/*Standardized elements*/
html
{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
body
{
    display: flex;
    flex: 1;
    font-size: calc(1rem + 1vw);
    flex-direction: column;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul
{
    color: #9b8989;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul
{
    list-style: none;
}

img
{
    height: auto;
}

button
{
    color: #9b8989;
    height: calc(1.5rem + 1vw);
    width: calc(4.5rem + 1vw);
    background-color: var(--purple);
    box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, .3);
    border: none;
    border-radius:  12px;    
}
/* button>svg
{
    display: flex;
} */

/* Styling */
:root
{
    --green: #2d471b;
    --purple: #351b47;
    --maroon: #471b2d;
    --brown: #473e1b;
}
.page-header
{
    background-color: #2C0616;
    padding: .25em .5em .25em;
    box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title
{
    padding-left: 5%;
}
.page-header .logo
{
    width: 150px;
}

.button.add
{
    background-color: var(--green);
}
.button.upload
{
    background-color: var(--maroon);
}

.control-panel
{
    flex: .15;
    background-color: #2C0616;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
}
.control-panel .controls
{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}
.controls > button
{
    margin: 10px;
}
/* .button > svg
{
    height: calc(1.5rem + 1vw);
    width: calc(5rem + 1vw);
} */
/* button > img
,button > svg
{
    --size: 40px;
    --fill-color: var(--someVar);
    width:var(--size);
    height: var(--size);
}

:root
{
    --someVar: blue;
}

button > svg path
{
    fill: var(--fill-color);
} */

main
{
    display: flex;
    flex: 1;
}
.content
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    padding: 30px;
    background-image: radial-gradient(circle at 77% 43%, rgba(168, 168, 168,0.04) 0%, rgba(168, 168, 168,0.04) 50%,rgba(10, 10, 10,0.04) 50%, rgba(10, 10, 10,0.04) 100%),radial-gradient(circle at 33% 65%, rgba(248, 248, 248,0.04) 0%, rgba(248, 248, 248,0.04) 50%,rgba(228, 228, 228,0.04) 50%, rgba(228, 228, 228,0.04) 100%),radial-gradient(circle at 92% 79%, rgba(152, 152, 152,0.04) 0%, rgba(152, 152, 152,0.04) 50%,rgba(28, 28, 28,0.04) 50%, rgba(28, 28, 28,0.04) 100%),radial-gradient(circle at 91% 13%, rgba(41, 41, 41,0.04) 0%, rgba(41, 41, 41,0.04) 50%,rgba(214, 214, 214,0.04) 50%, rgba(214, 214, 214,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

.card.printer
{
    flex-basis: 300px;
    flex-grow: .3;
    background-color: rgba(0, 0, 0, 0.33);
    border: solid 1px rgba(0, 0, 0, .75);
    border-radius: 24px;   
    animation: neon 2.5s ease-in-out infinite alternate;   
    padding: 5px;  
}
.preview
{
    display: flex;
}
.description
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 34px 16px 16px;
    grid-gap: 10px;
    padding: 10px;
    flex: 1;
}
.overview
{
    grid-column: 1 / 5;
}
.icon
{
    flex: .45;
}
.name
{
    align-self: center;
    font-size: calc(1rem + .85vw);
    padding-right: 10px;
}
.temperatures
{
    display: inline-flex;
    align-self: center; 
    align-items: center;
    font-size: calc(.75rem + .35vw);
}
.temperatures .temperature
{
    padding-right: 5px;
}
.temperatures>input
{
    width: calc(3rem + .35vw);
    margin: 5px;
}
.current-file
{
    display: inline-flex;
    grid-column: 1/5;
    grid-row: 2;
    align-items: center;
    font-size: calc(.75rem + .35vw);
}

.button.stop
{
    background-color: rgb(87, 7, 7);
    grid-column: 5;
    grid-row: 1/4;
    height: 100%;
}
.progress
{
    display: flex;
    grid-row: 3;
    grid-column: 1/5;
}
.bar
{
    flex: 1;
}

.operations
{
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%
}
.operations>button
{
    margin: 5px;
}

.container.expanded
{
    display: flex;
}
.file-view
{
    display: flex;
    flex: .9;
    flex-direction: column;
    padding-left: 10px;
}
.operations.files
{
    flex-direction: column;
    flex: .1;
    padding: 5px;
}

@keyframes neon {
    from {
      box-shadow:
      0 0 1px rgba(202,228,225,0.92),
      0 0 2px rgba(202,228,225,0.34),
      0 0 3px rgba(0, 110, 18, 0.52),
      0 0 5px rgba(0, 99, 16, 0.92),
      0 0 7px rgba(0, 107, 18, 0.78),
      0 0 9px rgba(2, 102, 44, 0.92);
    }
    to {
      box-shadow:
      0 0 1px rgba(202,228,225,0.98),
      0 0 2px rgba(202,228,225,0.42),
      0 0 3px rgba(0, 211, 53, 0.58),
      0 0 5px rgba(30,132,242,0.84),
      0 0 7px rgba(3, 214, 31, 0.88),
      0 0 10px rgb(31, 238, 4);
    }
  }